
/**************************************/
/*           COLOR SCHEME             */
/***************************************/
body{
  background:#BA7800;
}
a{
  color:#F20008;
  font-weight:bold;
}

h2{
	margin:5px 0;
}

p{
	padding:5px 0;
	line-height:1.7em;
	font-size:13px;
}

h2 a:link, h2 a:visited{
  color:#333333;
  text-decoration:none;
}

h2 a:hover{
	text-decoration:none;
}

.floatRight{
	float:right;
}

.floatLeft{
	float:left;
}

.clear{
	clear:both;
}


/**************************************/
/*              GLOBALS               */
/**************************************/

.hide{
  display:none;
}
.ac{
  text-align:center;
}
.ar{
  text-align:right;
}
.al{
  text-align:left;
}
textarea, input{
  padding:5px;
}

/**************************************/
/*              HEADER                */
/**************************************/

#top{
	background:#333;
	color:#fff;
	border-bottom:1px solid #000;
    border-top:1px solid #666;
    padding:5px 0;
}

#top .breadcrumbs a:link, #top .breadcrumbs a:visited{
  font-weight:bold;
  text-decoration:none;
  color: #fff;
}

#top .breadcrumbs a:visited{
  text-decoration:underline;
}

#top-navigation{

}

#top-navigation ul{
  padding:0;
  margin:0;
}
#top-navigation li{
  display:inline;
  padding:0;
  margin-left:2em;
}

#top-navigation a:link,#top-navigation a:visited{
  color: #fff;
  text-decoration:none;
  font-weight:bold;
}

#top-navigation a:hover{
  text-decoration:underline;
}




#header{
  height:95px;
  background:url(images/bg_header.png) #6D0401;
  border-top:1px solid #A50404;
}

#logo{
	margin-top:5px;
	-moz-border-radius:41px;
	-webkit-border-radius:41px;
	border-radius:41px;
	-moz-box-shadow:0 0 20px #CE2121;
	-webkit-box-shadow:0 0 20px #CE2121;
	box-shadow:0 0 20px #CE2121;
	height:82px;
	width:82px;
}

#web-name{
  margin-top:10px;
}

#web-name h2{
	margin:0;
	padding:0;
	color:#FFF;
	font-weight:bold;
	font-family: Trajan Pro, Trebuchet MS, Verdana, sans-serif;
	text-shadow:2px 2px 2px #560202;
}

#web-name h5{
	font-size:12px;
	font-family: Trebuchet MS, Verdana, Tahoma, sans-serif;
	font-weight:normal;
	color:#D27B00;
}


/**************************************/
/*             NAVIGATION             */
/**************************************/
#head-navigation {
  position:relative;
  height:95px;
}
#head-navigation ul{
  position:absolute;
  right:0;
  bottom:-1px;
  list-style:none;
  margin:0;
  padding:0;
  padding-top:1em;
}
#head-navigation li{
  display:inline;
  margin:0;
  padding:0;
  float:left;
}
#head-navigation a:link,#head-navigation a:visited{
  display:block;
  padding: 5px 15px;
  color:#CCC;
  text-shadow:1px 1px 0 #560202;
  text-decoration: none;
  font-weight:bold;
  margin:0;

}
#head-navigation a:hover {
  color: #FFF;
}

#head-navigation li.active a{
	color:#333333;
	background-color: #BA7800;
	text-shadow:1px 1px 0 #CE851B;
	-moz-box-shadow:0 -2px 2px #560202;
	-webkit-box-shadow:0 -2px 2px #560202;
	box-shadow:0 -2px 2px #560202;
	border:1px solid #D19743;
	border-bottom:none;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	padding:4px 14px 5px 14px;
}

.breadcrumbs{

}


/**************************************/
/*              SLIDESHOW             */
/**************************************/
#slideshow{
	-moz-box-shadow:0 -2px 2px #560202;
	-webkit-box-shadow:0 -2px 2px #560202;
	box-shadow:0 -2px 2px #560202;
	border-top:1px solid #D19743;
}

#slideshow img{
	margin:10px 0;
	-moz-box-shadow:0 0 10px #7C3403;
	-webkit-box-shadow:0 0 10px #7C3403;
	box-shadow:0 0 10px #7C3403;
}


/**************************************/
/*            MAIN CONTENT            */
/**************************************/

#main{
	margin:0;
	padding:10px 0;
}

#content{
	background:#FFF;
	-moz-box-shadow:0 0 10px #7C3403;
	-webkit-box-shadow:0 0 10px #7C3403;
	box-shadow:0 0 10px #7C3403;
}

#main .container{

}

#content h2{
	color:#333333;
	font-weight:bold;
	margin:20px 10px 0 20px;
	text-shadow:1px 1px 0 #FFF;
	background:#EAEAEA;
	padding:0 10px;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
}

#content p{
	margin:10px 10px 20px 20px;;
}

#main #admin-container{
  background:#8F0704;
	-moz-box-shadow:0 0 10px #7C3403;
	-webkit-box-shadow:0 0 10px #7C3403;
	box-shadow:0 0 10px #7C3403;
}

#admin-container #content{
  padding:20px;
  background:#EAEAEA;
  min-height:550px;
  border-bottom:1px solid #fff;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}

#admin-container #content h2,
#admin-container #content h1{
	padding:0;
	margin:0 0 10px 0;
	color:#333333;
	text-shadow:1px 1px 0 #FFFFFF;
}

#admin-container #content li{
	padding:3px 0;
	list-style:square;
}

#admin-container #content p{
	margin:5px 0;
	padding:0;
}

/**************************************/
/*            SIDE NAVIGATION         */
/**************************************/


#fsidebar{
	background:#8F0704;
}

#fp-login-form{
	margin:0 10px;
	border-bottom:1px solid #750303;
	background:url(images/login-bg.png) bottom left no-repeat;
}

#fp-login-form form{
	float:right;
	margin:0 10px;
}

#fp-login-form p{
	margin:0;
	padding:0;
	color:#FFFFFF;
}

#fp-login-form h2,
#register-form h2{
	text-shadow:1px 1px 0 #A50404;
	background:none;
	padding:0;
}

#register-form{
	border-top:1px solid #A50404;
	margin:0 10px;
	padding-bottom:20px;
	border-bottom:1px solid #750303;
	background:url(images/register-bg.png) bottom right no-repeat;
}

#register-form form{
	margin:0 10px;
}

#fp-login-form form input,
#register-form form input{
	-moz-box-shadow:inset 1px 1px 3px #808080;
	-webkit-box-shadow:inset 1px 1px 3px #808080;
	box-shadow:inset 1px 1px 2px #808080;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #750303;
	border-top:1px solid #B70909;
	border-left:1px solid #B70909;
}

#fp-login-form form label{
	margin-right:10px;
}

#sidebar{
  margin-top:2em;
  background:#8F0704;
}

#sidebar h3{
  padding:0;
  margin-left:10px;
  padding-left:5px;
  color:#fff;
  text-align:center;
  text-shadow:1px 1px 0 #750303;
  font-weight:bold;
}


#sidebar ul{
  padding:0;
  margin:0 0 20px 10px;
}

#sidebar li{
	list-style:none;
	border-top:1px solid #A50404;
	border-bottom:1px solid #750303;
}

#sidebar li.active{
	background:#EAEAEA;
	-moz-border-radius:7px 0 0 7px;
	-webkit-border-radius:5px 0 0 5px;
	border-radius:5px 0 0 5px;
	margin-right:-10px;
	border-bottom:1px solid #B2B2B2;
	border-left:1px solid #B2B2B2;
	border-top:1px solid #FFF;
}

#sidebar li.active a{
	color:#333333;
	text-shadow:1px 1px 0 #FFF;
	margin-left:10px;
}

#sidebar a{
  display:block;
  font-weight:bold;
  color:#D27B00;
  text-decoration:none;
  text-shadow:1px 1px 0 #750303;
  line-height:30px;
  padding-left:5px;
}

#sidebar a:hover{
	color:#FFF;
}



/**************************************/
/*               FOOTER               */
/**************************************/

#footbar{
	border-bottom:1px solid #D19743;
}

#footbar h4{
	text-align:center;
	margin:20px 0 0 0;
	color:#7C3403;
	text-shadow:1px 1px 0 #D19743;
	font-weight:bold;
}

#footbar h3{
	text-align:center;
	margin:5px 0 20px 0;
	color:#7C3403;
	text-shadow:1px 1px 0 #D19743;
	font-size:23px;
	font-weight:bold;
}

#footer {
	background:#333;
	color:#fff;
	border-top:1px solid #000;
    border-bottom:1px solid #666;
    padding:10px 0;
}
#footer a{
  color:#fff;
  font-weight:bold;
}

/**************************************/
/*               Widget               */
/**************************************/

.form, .view {
  padding:0;
}


/*  CList View */
.list-view{
  position:relative;
  padding-bottom:20px;
}

.list-view .summary{
  position:absolute;
  bottom:0;
  text-align:right;
  width:100%;
}

.list-view .view{
  border-bottom:2px solid #BA7800;
}

.list-view .view h2{

}

.list-view .view h2 a{
  text-decoration:none;
  color:#333333;
}

.list-view .view p{
  color:#222;
}

/*form*/


.form{
  background:#fff;
  padding:1em;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  -moz-box-shadow:0 0 5px #CCCCCC;
  -webkit-box-shadow:0 0 5px #CCCCCC;
  box-shadow:0 0 5px #CCCCCC;
  margin:0 10px 20px 20px;
}

#admin-container #content .form{
	margin:0px;
}

#content .form p{
	margin:10px;
}

.form .note{
  font-style:italic;
}

.form .row{
  clear:left;
  position:relative;
}
.form .row label{
  float:left;
  width:150px;
  padding:5px 10px 5px 0;
  margin-top:7px;
  text-align:right;
}

.form .row input{
  margin-top:7px;
  width:240px;
  padding:5px;
	-moz-box-shadow:inset 1px 1px 2px #CCCCCC;
	-webkit-box-shadow:inset 1px 1px 2px #CCCCCC;
	box-shadow:inset 1px 1px 2px #CCCCCC;
	border:1px solid #CCCCCC;
}

.form .row select{
	margin-top:7px;
	width:252px;
	padding:5px;
	background:transparent;
	-moz-box-shadow:inset 1px 1px 2px #CCCCCC;
	-webkit-box-shadow:inset 1px 1px 2px #CCCCCC;
	box-shadow:inset 1px 1px 2px #CCCCCC;
	border:1px solid #CCCCCC;
}

.form .row input#ContactForm_verifyCode{
	margin-top:7px;
	margin-left:160px;
	width:240px;
	padding:5px;
}

.hint{
	margin-left:160px;
	color:#819606;
}

.form .row textarea{
	margin-top:7px;
	width:500px;
	padding:5px;
	-moz-box-shadow:inset 1px 1px 2px #CCCCCC;
	-webkit-box-shadow:inset 1px 1px 2px #CCCCCC;
	box-shadow:inset 1px 1px 2px #CCCCCC;
	border:1px solid #CCCCCC;
}

.form .row textarea#ContactForm_body{
	margin-top:7px;
	width:240px;
	padding:5px;
	-moz-box-shadow:inset 1px 1px 2px #CCCCCC;
	-webkit-box-shadow:inset 1px 1px 2px #CCCCCC;
	box-shadow:inset 1px 1px 2px #CCCCCC;
	border:1px solid #CCCCCC;
}

.form .row .errorMessage{
  position:absolute;
  left:430px;
  top:12px;
}

.form .checkbox label{
  float:none;
  clear:right;
  font-weight:normal;
}

.form .checkbox input{
  border:none;
  width:auto;
  margin-left:160px;
}

.form .buttons input,
#fp-login-form form input.button,
#register-form form input.button{
  margin-top:1em;
  border:none;
  width:auto;
  background:#BA6410;
  background:-moz-linear-gradient(#E7B045, #BA6410);
  background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#E7B045), to(#BA6410));
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  padding:5px 15px;
  color:#fff;
  text-shadow:1px 1px 0 #BA6410;
  font-weight:bold;
	cursor:pointer;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}

.form .buttons input{
	margin-left:160px;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}

/* Grid View */
.grid-view-loading
{
  background:url(loading.gif) no-repeat;
}

.grid-view table.items
{
  background: #fff;
  border-collapse: collapse;
  width: 100%;
}

.grid-view table.items th, .grid-view table.items td
{
  font-size: 0.9em;
  padding: 0.3em;
}

.grid-view table.items th{
  color: white;
  background:#4D4D4D;
  text-align: center;
  line-height:30px;
  height:35px;
	text-shadow:1px 1px 0 #000;
}

.grid-view table.items th a
{
  color: #EEE;
  font-weight: bold;
	text-decoration:none;
}

.grid-view table.items th a:hover
{
  color: #FFF;
}

.grid-view table.items th a.asc
{
  background:url(images/up.gif) right center no-repeat;
  padding-right: 10px;
}

.grid-view table.items th a.desc
{
  background:url(images/down.gif) right center no-repeat;
  padding-right: 10px;
}

.grid-view table.items td
{
  line-height:18px;
}

.grid-view table.items tr.even td
{
  background-color:#fff;
	padding-left:10px;
	padding-top:5px;
}

.grid-view table.items tr.odd td
{
  background-color:#CCCCCC;
	padding-left:10px;
}

.grid-view table.items tr.selected
{
  background-color:#fff;
}

.grid-view table.items tr:hover
{
  
}

.grid-view .link-column img
{
  border: 0;
}

.grid-view .button-column
{
  text-align: center;
  width: 60px;
}

.grid-view .button-column a{
  padding:0;
}

.grid-view .button-column img
{
  border: 0;
	margin:0;
	padding:0;
}

.grid-view .checkbox-column
{
  width: 15px;
}

.grid-view .summary
{
  margin: 0 0 5px 0;
  text-align: right;
}

.grid-view .pager
{
  margin: 5px 0 0 0;
  text-align: right;
}

.grid-view .empty
{
  font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
  width: 95%;
  padding:3px 0;
  margin:0;
  border:1px solid #E6E6FA;
}

/* Link Pager */
ul.yiiPager
{
    font-size:11px;
    border:0;
    margin:0;
    padding:0;
    line-height:100%;
    display:inline;
    margin-bottom:10px;
}

ul.yiiPager li
{
    display:inline;
}

ul.yiiPager a:link,
ul.yiiPager a:visited
{
    border:solid 1px #F1B3B3;
    font-weight:bold;
    color:#A52A2A;
    padding:1px 6px;
    text-decoration:none;
}

ul.yiiPager .page a
{
    font-weight:normal;
}

ul.yiiPager a:hover
{
    border:solid 1px #A52A2A;
}

ul.yiiPager .selected a
{
    background:#A52A2A;
    color:#FFFFFF;
    font-weight:bold;
}

ul.yiiPager .hidden a
{
  border:solid 1px #DEDEDE;
  color:#888888;
}


/* Detail View */
table.detail-view th{
  color: #000;
  background:#CCC;
  text-align:right;
  padding-right:1em;
  line-height:25px;
  border-bottom:1px solid #C87C21;
  text-shadow:1px 1px 0 #EAEAEA;
  width:150px;
}

table.detail-view td{
  background:#FFF;
  border-bottom:1px solid #C87C21;
  padding-left:1em;
}

table.detail-view tr.event td{
  background-color:#fff;
}

.error,
.alert{
	margin:0 0 1em 0;
}

a.search-button{
	
}
