
/**************************************/
/*           COLOR SCHEME             */
/***************************************/
body{
  background-color:#000;
}
a{
  color:#F20008;
  font-weight:bold;
}

h2{
	margin:5px 0;
}

p{
	padding:5px 0;
}

h2 a:link, h2 a:visited{
  color:#000;
  text-decoration:none;
}

h2 a:hover{
	text-decoration:none;
}


/**************************************/
/*              GLOBALS               */
/**************************************/

.hide{
  display:none;
}
.ac{
  text-align:center;
}
.ar{
  text-align:right;
}
.al{
  text-align:left;
}
textarea, input{
  padding:5px;
}

/**************************************/
/*              HEADER                */
/**************************************/

#top{
  background:#000;
  color:#fff;
}
#top .breadcrumbs a:link, #top .breadcrumbs a:visited{
  font-weight:bold;
  text-decoration:none;
  color: #fff;
}

#top .breadcrumbs a:visited{
  text-decoration:underline;
}

#top-navigation{
  margin-top:0.7em;
}

#top-navigation ul{
  padding:0;
  margin:0;
}
#top-navigation li{
  display:inline;
  padding:0;
  margin-left:2em;
}

#top-navigation a:link,#top-navigation a:visited{
  color: #fff;
  text-decoration:none;
  font-weight:bold;
}

#top-navigation a:hover{
  text-decoration:underline;
}




#header{
  height:95px;
  background:url(images/bg_header.png) #6D0401;
  border-top:1px solid #A50404;
}

#logo{
  margin-top:7px;
}

#web-name{
  margin-top:10px;
}

#web-name h2{
	margin:0;
	padding:0;
	color:#FFF;
	font-weight:bold;
	font-family: Trajan Pro, Trebuchet MS, Verdana, sans-serif;
}

#web-name h5{
	font-size:12px;
	font-family: Trebuchet MS, Verdana, Tahoma, sans-serif;
	font-weight:normal;
	color:#D27B00;
}


/**************************************/
/*             NAVIGATION             */
/**************************************/
#head-navigation {
  position:relative;
  height:95px;
}
#head-navigation ul{
  position:absolute;
  right:0;
  bottom:0;
  list-style:none;
  margin:0;
  padding:0;
  padding-top:1em;
}
#head-navigation li{
  display:inline;
  margin:0;
  padding:0;
  float:left;
}
#head-navigation a:link,#head-navigation a:visited{
  display:block;
  padding: 5px 1.5em;
  color:#FFF;
  text-shadow:1px 1px 0 #A50404;
  text-decoration: none;
  font-weight:bold;
  margin:0;

}
#head-navigation a:hover {
  color: #000;
  text-shadow:1px 1px 0 #A50404;
}

#head-navigation li.active a{
	color:#000;
	background-color: #BA7800;
	text-shadow:1px 1px 0 #CE851B;
	-moz-box-shadow:1px -1px 0 #440202;
	-webkit-box-shadow:1px -1px 0 #440202;
	box-shadow:1px -1px 0 #440202;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
}

.breadcrumbs{
  padding:10px 0;
}


/**************************************/
/*              SLIDESHOW             */
/**************************************/
#slideshow{
	background:#BA7800;
	-moz-box-shadow:1px -1px 0 #440202;
	-webkit-box-shadow:1px -1px 0 #440202;
	box-shadow:1px -1px 0 #440202;
}

#slideshow img{
	margin:10px 0;
}


/**************************************/
/*            MAIN CONTENT            */
/**************************************/

#main{
	background:url(images/main_bg.jpg) repeat-x #FFEB87;
	margin:0;
	padding:10px 0;
}

#content{
	background:#FFF;
	padding-bottom:10px;
}

#main .container{

}

#content h2{
	color:#000;
	font-weight:bold;
	margin:20px 10px 0 20px;
	text-shadow:1px 1px 0 #FFF;
	background:#EAEAEA;
	padding:0 10px;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
}

#content p{
	margin:0 20px;
}

#main #admin-container{
  background:#8F0704;
  
}

#admin-container #content{
  padding:20px;
  background:#EAEAEA;
  min-height:550px;
  border-bottom:1px solid #fff;
}

#admin-container #content h2{
	padding:0;
	margin:0 0 10px 0;
}

/**************************************/
/*            SIDE NAVIGATION         */
/**************************************/


#fsidebar{
	background:#8F0704;
}

#login-form{
	margin:0 10px;
	padding-bottom:20px;
	border-bottom:1px solid #750303;
	background:url(images/login-bg.png) bottom left no-repeat;
}

#login-form form{
	float:right;
	margin:0 10px;
}

#login-form h2,
#register-form h2{
	text-shadow:1px 1px 0 #A50404;
	background:none;
	padding:0;
}

#register-form{
	border-top:1px solid #A50404;
	margin:0 10px;
	padding-bottom:20px;
	border-bottom:1px solid #750303;
	background:url(images/register-bg.png) bottom right no-repeat;
}

#register-form form{
	margin:0 10px;
}

#sidebar{
  margin-top:2em;
  background:#8F0704;
}

#sidebar h3{
  padding:0;
  margin-left:10px;
  padding-left:5px;
  color:#fff;
  text-align:center;
  text-shadow:1px 1px 0 #750303;
  font-weight:bold;
}


#sidebar ul{
  padding:0;
  margin:0 0 20px 10px;
}

#sidebar li{
	list-style:none;
	border-top:1px solid #A50404;
	border-bottom:1px solid #750303;
}

#sidebar li.active{
	background:#EAEAEA;
	-moz-border-radius:7px 0 0 7px;
	-webkit-border-radius:5px 0 0 5px;
	border-radius:5px 0 0 5px;
	margin-right:-10px;
	border-bottom:1px solid #B2B2B2;
	border-left:1px solid #B2B2B2;
	border-top:1px solid #FFF;
}

#sidebar li.active a{
	color:#000;
	text-shadow:1px 1px 0 #FFF;
	margin-left:10px;
}

#sidebar a{
  display:block;
  font-weight:bold;
  color:#D27B00;
  text-decoration:none;
  text-shadow:1px 1px 0 #750303;
  line-height:30px;
  padding-left:5px;
}

#sidebar a:hover{
	color:#FFF;
}



/**************************************/
/*               FOOTER               */
/**************************************/
#footer {
  background-color:#000;
  padding:10px 0;
  color:#fff;
}
#footer a{
  color:#fff;
  font-weight:bold;
}

/**************************************/
/*               Widget               */
/**************************************/

.form, .view {
  padding:0;
}


/*  CList View */
.list-view{
  position:relative;
  padding-bottom:20px;
}

.list-view .summary{
  position:absolute;
  bottom:0;
  text-align:right;
  width:100%;
}

.list-view .view{
  border-bottom:2px solid #FFEB87;
}

.list-view .view h2{

}

.list-view .view h2 a{
  text-decoration:none;
  color:#000;
}

.list-view .view p{
  color:#222;
}

/*form*/


.form{
  background:#fff;
  padding:1em;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  -moz-box-shadow:0 0 5px #CCCCCC;
}

.form .note{
  font-style:italic;
}

.form .row{
  clear:left;
  position:relative;
}
.form .row label{
  float:left;
  width:175px;
  padding:5px 0;
  margin-top:7px;
}

.form .row input, .form .row select{
  margin-top:7px;
  width:250px;
  padding:5px 0;
}

.form .row textarea{
	margin-top:7px;
	width:500px;
	padding:5px 0;
}

.form .row .errorMessage{
  position:absolute;
  left:450px;
  top:12px;
}

.form .checkbox label{
  float:none;
  clear:right;
  font-weight:normal;
}

.form .checkbox input{
  border:none;
  width:auto;
  margin-left:175px;
}

.form .buttons input{
  margin-top:1em;
  border:none;
  width:auto;
  background:#BA6410;
  background:-moz-linear-gradient(#E7B045, #BA6410);
  background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#E7B045), to(#BA6410));
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  padding:10px 15px;
  color:#fff;
  font-weight:bold;
  margin-left:175px;
}

/* Grid View */
.grid-view-loading
{
  background:url(loading.gif) no-repeat;
}

.grid-view table.items
{
  background: #fff;
  border-collapse: collapse;
  width: 100%;
}

.grid-view table.items th, .grid-view table.items td
{
  font-size: 0.9em;
  padding: 0.3em;
}

.grid-view table.items th{
  color: white;
  background:#000 url(images/tabel_bg.jpg);
  text-align: center;
  line-height:30px;
  height:35px;
}

.grid-view table.items th a
{
  color: #EEE;
  font-weight: bold;
	text-decoration:none;
}

.grid-view table.items th a:hover
{
  color: #FFF;
}

.grid-view table.items th a.asc
{
  background:url(images/up.gif) right center no-repeat;
  padding-right: 10px;
}

.grid-view table.items th a.desc
{
  background:url(images/down.gif) right center no-repeat;
  padding-right: 10px;
}

.grid-view table.items td
{
  line-height:18px;
}

.grid-view table.items tr.even td
{
  background-color:#fff;
	padding-left:10px;
	padding-top:5px;
}

.grid-view table.items tr.odd td
{
  background-color:#CCCCCC;
	padding-left:10px;
}

.grid-view table.items tr.selected
{
  background-color:#fff;
}

.grid-view table.items tr:hover
{
  
}

.grid-view .link-column img
{
  border: 0;
}

.grid-view .button-column
{
  text-align: center;
  width: 60px;
}

.grid-view .button-column a{
  padding:0;
}

.grid-view .button-column img
{
  border: 0;
	margin:0;
	padding:0;
}

.grid-view .checkbox-column
{
  width: 15px;
}

.grid-view .summary
{
  margin: 0 0 5px 0;
  text-align: right;
}

.grid-view .pager
{
  margin: 5px 0 0 0;
  text-align: right;
}

.grid-view .empty
{
  font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
  width: 95%;
  padding:3px 0;
  margin:0;
  border:1px solid #E6E6FA;
}

/* Link Pager */
ul.yiiPager
{
    font-size:11px;
    border:0;
    margin:0;
    padding:0;
    line-height:100%;
    display:inline;
    margin-bottom:10px;
}

ul.yiiPager li
{
    display:inline;
}

ul.yiiPager a:link,
ul.yiiPager a:visited
{
    border:solid 1px #F1B3B3;
    font-weight:bold;
    color:#A52A2A;
    padding:1px 6px;
    text-decoration:none;
}

ul.yiiPager .page a
{
    font-weight:normal;
}

ul.yiiPager a:hover
{
    border:solid 1px #A52A2A;
}

ul.yiiPager .selected a
{
    background:#A52A2A;
    color:#FFFFFF;
    font-weight:bold;
}

ul.yiiPager .hidden a
{
  border:solid 1px #DEDEDE;
  color:#888888;
}


/* Detail View */
table.detail-view th{
  color: #000;
  background:#CCC;
  text-align:right;
  padding-right:1em;
  line-height:25px;
  border-bottom:1px solid #C87C21;
  text-shadow:1px 1px 0 #EAEAEA;
  width:150px;
}

table.detail-view td{
  background:#FFF;
  border-bottom:1px solid #C87C21;
  padding-left:1em;
}

table.detail-view tr.event td{
  background-color:#fff;
}

.error,
.alert{
	margin:10px 10px 0 20px;
}
