body{text-align:center;}
div.page{margin:0 auto;text-align:left;width: 21.00cm; height:29.70cm; border:1px solid #ccc; margin-bottom:50px;padding:2.5cm}
table.head{margin-bottom:20px;}
table.head th{text-align:left;}
table.data{width:100%}
table.data th.no{width:50px}
